.login-pf body {
    background: #f7f7f7 none;
}

div.kc-logo-text {
    background-image: url('../img/gover-idp-logo.svg');
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 400px;
}

:root {
    --pf-global--primary-color--100: #213048;
}

.card-pf,
.pf-c-button,
.pf-c-form-control {
    border-radius: 4px;
}

.pf-c-form-control[type=password] {
     border-radius: 4px 0 0 4px;
 }

.pf-c-button.pf-m-control,
.pf-c-button.pf-m-control:after{
    border-radius: 0 4px 4px 0;
}

.card-pf {
    position: relative;
    box-shadow:
            0 0 #0000,
            0 0 #0000,
            0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a
}

.card-pf::after {
    position: absolute;
    width: 100%;
    display: block;
    color: #a4a4a4;
    content: 'Dieser Identity Provider basiert auf \A Keycloak – Open Source Identitäts- und Zugriffs-Management';
    text-align: center;
    left: 0;
    bottom: -80px;
    white-space: pre-wrap;
}